@model RegisterAuthenticatorModel

<div class="row">
    <div class="col-md-4">
        <h1 class="text-center">Register Authenticator</h1>
        <p>Your authentication keyy is: @Model.AuthenticatorKey</p>
        <form asp-action="RegisterAuthenticator">
            <input asp-for="AuthenticatorKey" class="form-control" type="hidden" />
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
                <div asp-validation-summary="All"></div>
            </div>
        </form>
    </div>
</div>